@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    height: 100%;
}

.ant-image-preview-img {
    display: initial;
}

.ant-tabs-top > .ant-tabs-nav::before {
    content: none !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #6200EE !important;
}

.dark .ant-tabs-tab {
    color: white !important;
}

.ant-tabs-tab:hover {
    color: #3700B3 !important;
}

.dark .ant-tabs-tab:hover {
    color: #BB86FC !important;
}

.dark .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white !important;
}

.ant-tabs-ink-bar {
    background: #6200EE !important;
}

.dark .ant-tabs-ink-bar {
    background: white !important;
}

.ant-switch-checked {
    background: #6200EE !important;
}

.dark .ant-drawer-header {
    background: #BB86FC;
    border-radius: initial;
}

.dark .ant-drawer-title {
    color: white;
}

.dark .ant-drawer-close {
    color: white;
}

.dark .ant-drawer-body {
    background: #BB86FC;
}

.hero__image {
    text-shadow: -18px 30px 16px rgba(0, 0, 0, 0.15)
}

.ant-drawer-content-wrapper {
    max-width: 378px !important;
    width: 100% !important;
}

.dark .ant-empty-description {
    color: white;
}

.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title, .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-paragraph > li {
    background: inherit !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
    top: 40% !important;
}

@media screen and (max-width: 1024px){
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}
