@import 'https://unpkg.com/open-props/easings.min.css';
@import './links-hover.css';
@import './theme-toggle.css';
@import './text-gradient.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    touch-action: manipulation;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-x: none;
    @apply font-montserrat;
  }

  body {
    min-height: 100%;
    margin: 0;
    @apply antialiased;
  }

  #__next {
    height: 100%;
  }

  .dark:root {
    --swiper-theme-color: #fff !important;
    --swiper-navigation-size: 2rem !important;
  }

  :root {
    --swiper-theme-color: #6200ee !important;
    --swiper-navigation-size: 2rem !important;
  }
}

@layer components {
  .expander {
    --line-clamp: 3;
    @apply overflow-hidden;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;
  }

  .on-scroll {
    @apply transition-shadow duration-300 dark:bg-black lg:backdrop-blur lg:backdrop-saturate-200;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
  }

  .dark .on-scroll {
    box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
  }

  .dark .show-page.on-scroll {
    @apply backdrop-blur-lg backdrop-saturate-200;
  }

  .select-container .select__control {
    @apply border-2 border-neutral-300 bg-white hover:border-neutral-400 dark:border-neutral-700 dark:bg-neutral-700 dark:hover:border-neutral-500;
  }

  .select-container .select__control--is-focused {
    @apply border-neutral-500 shadow-none hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400;
  }

  .select-container .select__menu {
    @apply border-2 border-neutral-300 bg-neutral-100 dark:border-neutral-600 dark:bg-neutral-700;
  }

  .select-container .select__option {
    @apply bg-neutral-100 text-neutral-600 hover:bg-neutral-200 dark:bg-neutral-700 dark:text-neutral-200 dark:hover:bg-neutral-800;
  }

  .select-container .select__indicator-separator {
    @apply bg-neutral-400;
  }

  .select-container .select__input-container,
  .select-container .select__placeholder,
  .select-container .select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
  }
}

.ant-image-preview-img {
  display: initial !important;
}

.dark .ant-empty-description {
  color: white;
}

.swiper-button-next,
.swiper-button-prev {
  @apply right-6 rounded-full p-6 !important;
}

.dark .swiper-button-next,
.dark .swiper-button-prev {
  @apply bg-neutral-700 text-neutral-200;
}

.swiper-button-next,
.swiper-button-prev {
  @apply bg-neutral-100 text-neutral-600;
}

.movie-card {
  inset: 0;
  @apply relative block w-full cursor-pointer rounded-md transition-all duration-300 ease-in-out;
  transform: scale(1, 1) translateZ(0px);
}

.movie-card:hover {
  @apply transition-all duration-300 ease-in-out;
  transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
}

.movie-card::after {
  content: '';
  border: 4px solid rgba(255, 255, 255, 0);
  @apply absolute inset-0 rounded-md;
  transition: border 300ms ease-out 0s;
}

.dark .movie-card:hover::after {
  border: 4px solid rgba(249, 249, 249, 0.8);
}

.movie-card:hover::after {
  border: 4px solid #6200ee;
}

.play-btn {
  @apply flex items-center justify-center px-4 py-2;
  @apply rounded-md bg-white uppercase leading-6 tracking-widest text-black shadow-md transition-all duration-300 ease-in-out;
  @apply w-full sm:w-auto;
  height: 100%;
  min-width: 190px;
}

.play-btn:hover {
  background: rgba(255, 255, 255, 0.7);
}
