@import "https://unpkg.com/open-props/easings.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    height: 100%;
}

.ant-image-preview-img {
    display: initial;
}

.ant-tabs-top > .ant-tabs-nav::before {
    content: none !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #6200EE !important;
}

.dark .ant-tabs-tab {
    color: white !important;
}

.ant-tabs-tab:hover {
    color: #3700B3 !important;
}

.dark .ant-tabs-tab:hover {
    color: #BB86FC !important;
}

.dark .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white !important;
}

.ant-tabs-ink-bar {
    background: #6200EE !important;
}

.dark .ant-tabs-ink-bar {
    background: white !important;
}

.ant-switch-checked {
    background: #6200EE !important;
}

.dark .ant-drawer-header {
    background: #BB86FC;
    border-radius: initial;
}

.hero__image {
    text-shadow: -18px 30px 16px rgba(0, 0, 0, 0.15);
    @apply m-0
    text-7xl
    font-bold
    uppercase
    text-center
    dark:text-white
    md:text-8xl
    xl:text-9xl
    md:dark:text-transparent
    md:text-transparent
    md:bg-right-top
    md:bg-clip-text
    md:text-left
    md:bg-[url('../../public/redcity.webp')]
    md:bg-cover
    lg:relative
    lg:z-10
}

.dark .ant-empty-description {
    color: white;
}

.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title, .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-paragraph > li {
    background: inherit !important;
}

.swiper-button-next,
.swiper-button-prev {
    right: 20px !important;
}

.dark .swiper-button-next,
.dark .swiper-button-prev {
    color: white !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #6200EE !important;
}

.ant-input-group-wrapper {
    position: absolute !important;
    left: 0 !important;
}

.ant-input-affix-wrapper-lg {
    padding: 21px 30px !important;
    background: rgb(75, 78, 90) !important;
}

.ant-input-affix-wrapper {
    border: none !important;
}

.ant-input-lg {
    padding-left: calc(3.5vw + 24px) !important;
    color: white !important;
    font-size: 44px !important;
    background: inherit !important;
}

.anticon.ant-input-clear-icon, .ant-input-clear-icon {
    color: white !important;
    font-size: 32px !important;
    display: flex;
}

.ant-input-group-addon {
    display: none !important;
}

.movie-card {
    inset: 0;
    @apply rounded-md block relative w-full cursor-pointer transition-all duration-300 ease-in-out;
    transform: scale(1, 1) translateZ(0px);
}

.movie-card:hover {
    @apply transition-all duration-300 ease-in-out;
    transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
}

.movie-card::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 4px solid rgba(255, 255, 255, 0);
    @apply rounded-md;
    transition: border 300ms ease-out 0s;
}

.dark .movie-card:hover::after {
    border: 4px solid rgba(249, 249, 249, 0.8);
}

.movie-card:hover::after {
    border: 4px solid #6200EE;
}

.radial-gradient {
    background-image: radial-gradient(farthest-side at 73% 21%, transparent, rgb(26, 29, 41));
}

.play-btn {
    @apply flex items-center justify-center px-4 py-2;
    @apply tracking-widest leading-6 bg-white rounded-md shadow-md uppercase transition-all duration-300 ease-in-out;
    @apply w-full sm:w-auto;
    height: 100%;
    min-width: 190px;
}

.play-btn:hover {
    background: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1024px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}

@media screen and (max-width: 568px) {
    .ant-input-lg {
        font-size: 28px !important;
        padding-left: calc(2vw + 12px) !important;
    }

    .ant-input-group-addon {
        display: table-cell !important;
        background: rgb(75, 78, 90) !important;
    }

    .ant-input-search-button {
        background: rgb(75, 78, 90) !important;
        border: 0 !important;
    }

    .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
        color: white !important;
    }
}

@layer components {
    .select-container .select__control {
        @apply bg-white dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-700 hover:border-neutral-400 dark:hover:border-neutral-500;
    }

    .select-container .select__control--is-focused {
        @apply border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400 shadow-none;
    }

    .select-container .select__menu {
        @apply bg-neutral-100 dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-600;
    }

    .select-container .select__option {
        @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-800;
    }

    .select-container .select__indicator-separator {
        @apply bg-neutral-400;
    }

    .select-container .select__input-container,
    .select-container .select__placeholder,
    .select-container .select__single-value {
        @apply text-neutral-600 dark:text-neutral-200;
    }
}

.link {
    @apply flex uppercase items-center relative cursor-pointer justify-center;
}

.link-name {
    @apply tracking-wide leading-6 m-0 relative hidden md:block;
}

.link:hover a p::before, .link:focus a p::before, .link:hover a span::before, .link:focus a span::before, .link.active a p::before, .link:focus a p::before, .link:hover a span::before, .link:focus a span::before {
    background-color: rgb(75, 78, 90);
    transform: scaleX(1);
    @apply visible opacity-100;
}

.dark .link:hover a p::before, .dark .link:focus a p::before, .dark .link:hover a span::before, .dark .link:focus a span::before, .dark .link.active a p::before, .dark .link:focus a p::before, .dark .link:hover a span::before, .dark .link:focus a span::before {
    background-color: rgb(249, 249, 249);
    transform: scaleX(1);
    @apply visible opacity-100;
}

.link a p::before {
    background-color: rgba(249, 249, 249, 0.4);
    border-radius: 0 0 4px 4px;
    bottom: -6px;
    content: "";
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    visibility: hidden;
    width: auto;
}

.theme-toggle {
    background: none;
    border: none;
    padding: 0;

    inline-size: 2rem;
    block-size: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;

    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline-offset: 5px;
}

.theme-toggle > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
}

.sun-and-moon > :is(.moon,.sun,.sun-beams) {
    transform-origin: center center
}

.sun-and-moon > :is(.moon,.sun) {
    fill: var(--icon-fill)
}

.theme-toggle:is(:hover,:focus-visible) > .sun-and-moon > :is(.moon,.sun) {
    fill: var(--icon-fill-hover)
}

.sun-and-moon > .sun-beams {
    stroke: var(--icon-fill);
    stroke-width: 2px
}

.theme-toggle:is(:hover,:focus-visible) .sun-and-moon > .sun-beams {
    stroke: var(--icon-fill-hover)
}

.dark .sun-and-moon > .sun {
    transform: scale(1.75)
}

.dark .sun-and-moon > .sun-beams {
    opacity: 0
}

.dark .sun-and-moon > .moon > circle {
    transform: translate(-7px)
}

@supports (cx: 1) {
    .dark .sun-and-moon > .moon > circle {
        transform: translate(0);
        cx: 17
    }
}

@media (prefers-reduced-motion: no-preference) {
    .sun-and-moon > .sun {
        transition: transform .5s var(--ease-elastic-3)
    }

    .sun-and-moon > .sun-beams {
        transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3)
    }

    .sun-and-moon .moon > circle {
        transition: transform .25s var(--ease-out-5)
    }

    @supports (cx: 1) {
        .sun-and-moon .moon > circle {
            transition: cx .25s var(--ease-out-5)
        }
    }

    .dark .sun-and-moon > .sun {
        transform: scale(1.75);
        transition-timing-function: var(--ease-3);
        transition-duration: .25s
    }

    .dark .sun-and-moon > .sun-beams {
        transform: rotate(-25deg);
        transition-duration: .15s
    }

    .dark .sun-and-moon > .moon > circle {
        transition-delay: .25s;
        transition-duration: .5s
    }
}

.theme-toggle {
    --size: 2rem;
    --icon-fill: hsl(210 10% 30%);
    --icon-fill-hover: hsl(210 10% 15%);
    background: none;
    border: none;
    padding: 0;
    inline-size: var(--size);
    block-size: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline-offset: 5px
}

.theme-toggle > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round
}

.dark .theme-toggle {
    --icon-fill: hsl(210 10% 70%);
    --icon-fill-hover: hsl(210 15% 90%)
}

@media screen and (max-width: 768px) {
    .link a span::before {
        background-color: rgba(249, 249, 249, 0.4);
        border-radius: 0 0 4px 4px;
        bottom: -6px;
        content: "";
        height: 2px;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        transform-origin: left center;
        transform: scaleX(0);
        transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        visibility: hidden;
        width: auto;
    }
}
